@charset "UTF-8";

/* 統一樣式 */
*{
    padding: 0;
    margin: 0;
}
body{
    color: #000;
    background-color: #f0f0f0 !important;      
}
a{
    margin: 0 120px;
    color: #8f8f8f;
    text-decoration: none;
    background-color: transparent;
}
h3, h4{
    margin: 40px 320px;
    text-align: left;
    font-weight: 500;
    line-height: 1.2;
}
/* 導航欄位 */
.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 30px;
}
.navbar a{
    color: #ABAAAA;
}
.container {
    width: 100%;
    background-color: #ffff;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}
.container #banner{
    position: relative;
    width: 900px;
}
.container #blue{
    margin: 70px 150px;
}
.container #green{
    position: absolute;
    margin: -320px 600px;
}
/* 復活節彩蛋 */
#easteregg{
    top: 90%;
    width: 100%;
    position: absolute;
    float: right;
    display: block;
}
#easteregg img{
    position: fixed;
    width: 100px;
    right: 25px;
}
#box {
    position: fixed;
    right: 110px;
    margin-top: 40px;
}
/* 文章內文 */
.container{
    padding: 25px;
    background-color: #FFFFFF;
}
.container .item-center{
    display: block;
    margin: 20px auto;;
}
.container h3{
    margin: 10px 150px;
}
.container  h4{
    margin: 10px 110px;
}
.container p{
    margin: 20px 150px;
}
.container #date{
    color: #68696b;
    margin: 0 110px;
    border: none;
    font-size: 0.857em;
    font-style: italic;
    margin-bottom: -5px;
}
.container a{
    color: #0d6efd;
    padding: 0;
    margin: 0;
}
.container li{
    margin: 20px 150px;
    line-height: 20px;
}
.container #ODF{
    margin-left: 150px;
}


/*遊戲動畫樣式*/
div #mid {
    min-height: 100%;
}
/*span {
    border: 1px solid red;
}*/

span.no-border {
    border: none;
}

#box {
    position: fixed;
}
.modal.fade .modal-dialog {
    background-color: #fff;
}

.modal-backdrop {
    z-index: -20;
}
